<html>
    <head>
        <title>주문 정보 입력하기</title>

        <script>
            // 저장버튼 클릭시 호출되는 함수
            function send(){
                // 팝업창(popup) 띄우기_경고창
                alert("입력");
                // document : body에서 가져와라
                // getElementById : fm이라는 속성을 가진 값을 가져와라
                document.getElementById("fm").submit();
            }
        </script>
    </head>
    <body>
    <!--   -->
        <form name="fm", id="fm" method="post" action="/db/cart_insert/">
            <input type="hidden" name="pcart_member" value="{{pcart_member}}">
            <input type="hidden" name="pcart_prod" value="{{pcart_prod}}">
            {% csrf_token %}
            <p>주문 정보 입력</p>

            <table border="1">
                <tr>
                    <td style="background-color: burlywood">주문수량</td>
                    <td>
                        <!-- type을 입력받음 -->
                        <input type="text" name="cart_qty" value="{{cart_qty}}">
                    </td>
                </tr>
            </table>
            <a href="#" onclick="send();">[저장]</a>
        </form>
    </body>
</html>
